@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

$grey: #e5e5e5;

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora';
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  width: 800px;
  margin: 10px auto;

  h1 {
    font: {
      weight: 700;
      size: 3em;
    }
  }
}

button {
  border: 1px solid $grey;
  padding: 3px 10px;
  background-color: #fff;
}

.container {
  width: 800px;
  margin: 10px auto;
  border-right: 1px solid $grey;
  border-left: 1px solid $grey;
  padding: 10px 20px;

  input, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    border: 1px solid $grey;
    padding: 15px;
  }

  li {
    border-bottom: 1px solid $grey;
    align-items: center;
    display: flex;

    &.list-list-item {
      a {
        display: flex;
        justify-content: space-between;
      }
    }
    
    a {
      padding: 20px 10px;
      width: 100%;

      &:hover {
        background-color: #ededed;
      }

      .list-left {
        display: flex;
        h3 {
          align-self: flex-end;
          margin: 0;
          font: {
            weight: 700;
            size: 1.5em;
          }
        }
      }

      .list-right {
        display: flex;
        span {
          align-self: flex-end;
          font: {
            family: 'Lora', Arial;
            weight: 400;
            size: 1.2em;
          }
        }
      }

      p.item-content {

      }
    }
  }

  .actions button {
    width: 50%;
  }

  .home {
    h2 {
      font-size: 2em;
      padding: 5px 0;
      border-bottom: 1px solid $grey;
    }

    .add-list-button {
      width: 100%;
    }
  }

  .list {

    .add-item-button {
      width: 100%;
    }

    li {
      header {
        h3{
          margin-bottom: 0;
        }

        p {
          color: #b5b5b5;
          font: {
            style: italic;
            size: 0.7em;
          }
        }
      }
    }

  }
}

